* {
    margin: 0;
    padding: 0;
}

.app {
    background: darkslateblue;
}

.btn {
    margin-left: 5px;
    border: 2px solid white;
    color: white;
    background: darkslateblue;
    font-size: 16px;
    padding: 3px;
    font-weight: 600;
}

.truck-main-block {

}

.truck-details {
    margin-right: 40px;
}

.calc-truck-percentage {
    height: 20px;
    width: 100px;
    border: 1px solid white;
}